@page "/visits"
@inject IVisitService visitSRV
@using PW_Museo.Client.Services.Visits;
@using Models

<PageTitle>Visits</PageTitle>

<h1>Visits</h1>

<AuthorizeView>
    <Authorized>
        <p>
            <a href="/visits/create">Create New</a>
        </p>
    </Authorized>
</AuthorizeView>


@if (visits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date & Time</th>
                <th>Duration (mins)</th>
                <th>Max Participants</th>
                <AuthorizeView>
                    <Authorized>
                        <th>Actions</th>
                    </Authorized>
                </AuthorizeView>
            </tr>
        </thead>
        <tbody>
            @foreach (var visit in visits)
            {
                <tr>
                    <td>@visit.Title</td>
                    <td>@visit.Description</td>
                    <td>@visit.DateTime.ToString("g")</td>
                    <td>@visit.Duration</td>
                    <td>@visit.MaxParticipants</td>
                    <AuthorizeView>
                        <Authorized>
                            <td>
                                <a href="/visits/edit/@visit.Id">Edit</a> |
                                <button class="btn btn-link link-danger p-0 align-baseline" @onclick="() => DeleteVisit(visit.Id)">Delete</button>
                            </td>
                        </Authorized>
                    </AuthorizeView>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Visit[]? visits;

    protected override async Task OnInitializedAsync()
    {
        visits = await visitSRV.GetAllVisits();
    }

    private async Task DeleteVisit(Guid id)
    {
        await visitSRV.DeleteVisit(id);
        visits = await visitSRV.GetAllVisits();
    }
}
